//
//  Secrets.xcconfig
//  SwiftSampleApp
//
//  Created by Stelios Petrakis on 18/11/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TRANSIFEX_TOKEN = your_transifex_token_here
TRANSIFEX_SECRET = your_transifex_secret_here
